section {
  display: flex;
  flex-direction: column;
}
section h1 {
  font-size: 32px;
  font-weight: 300;
  margin: 0;
  color: #454545;
  padding-right: 35px;
  line-height: 1.2em;
}
section h1:focus {
  outline: none;
}
section h2 {
  margin: 8px 0;
  display: inline-block;
  font-weight: 200;
}
nav {
  position: absolute;
  left: 25px;
  bottom: 27px;
}
nav a {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  padding: 10px;
  display: block;
}

.my-photo {
  border-radius: 16px;
  max-width: 125px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  section {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: inherit;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }
  section h1 {
    position: relative;
    padding-right: 0;
    font-size: 50px;
    color: #454545;
    font-weight: 200;
  }
  section h2 {
    margin: 8px 0;
    display: inline-block;
    font-weight: 200;
    font-size: 32px;
  }
  nav {
    left: 30px;
    right: 30px;
    white-space: nowrap;
    text-align: center;
    bottom: 30px;
    font-size: 0;
  }
  nav a {
    font-size: 15px;
    padding: 4px 10px;
    color: #454545;
    display: inline-block;
    border-radius: 6px;
    margin: 0 5px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  nav a:hover {
    background: #efefef;
  }
  .my-photo {
    border-radius: 50%;
    max-width: 160px;
    margin-bottom: 16px;
  }
}
@media (max-height: 390px) and (min-width: 768px) {
  nav {
    display: none;
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  height: 100%;
}
body > div:first-child,
body > div:first-child > div:first-child,
body > div:first-child > div:first-child > div {
  height: inherit;
}
main {
  padding: 30px;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}
@media (min-width: 768px) {
  main {
    padding: 45px;
  }
}

.hashtag {
  &::before {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 10px;
  }
}

.fan-of {
  font-size: 16px;
}

#react-native {
  &::before {
    background: url('/static/logos/logo-react.svg') no-repeat center/100%;
  }
}
#nextjs {
  &::before {
    background: url('/static/logos/logo-nextjs.svg') no-repeat center/100%;
  }
}
#redux {
  &::before {
    background: url('/static/logos/logo-redux.png') no-repeat center/100%;
  }
}
#sass {
  &::before {
    background: url('/static/logos/logo-sass.svg') no-repeat center/100%;
  }
}
